*{
    margin: 0;
    padding: 0;
   }
  
     body {
      height: 100vh;
      background-position: center;
      background-repeat: no-repeat;
      background-size:contain;
      font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        
     }


.container {
    display: flex; /* or inline-flex */
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: column no-wrap;
    justify-content: center;
    align-items: stretch;
    align-content:baseline;
    gap: 30px;
    gap: 20px 20px; /* row-gap column gap */
    row-gap: 30px;
    column-gap: 50px;
  }
  .project{
        order: 3; /* default is 0 */
        flex-grow: 10; /* default 0 */
        flex-shrink: 3;
        flex-basis: auto; 
        flex: 0 1 auto;
        align-self: stretch;
  }

 